
    /*重置所有默认属性*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
.clear{clear: both;float: none;height: 0;overflow: hidden;}
html .hide{display:none;}

/*此处开始header的布局设计*/
header {
    background: #4A4A4A;
    height: 105px;
    margin: 0 auto;
    width: 960px;
}


header .logo {
    float: left;
    margin: 10px 0 0 10px;
    color: #fff;
    height: 59px;
}


header .search {
    float: left;
    margin-left: 20px;
    position: relative;
    margin-top: 25px;
}

#skin {
    display: block;
    float: right;
    margin: 10px;
    padding: 4px;
    width: 120px;
}

#skin li {
    float: left;
    overflow: hidden;
    margin-right: 4px;
    text-indent: -9999px;
    background-image:url("../images/theme.gif");
    height: 15px;
    cursor: pointer;
}

.mainNav {
    position: absolute;
    top: 68px;
    left: 204px;
    height: 37px;
    line-height: 37px;
    width: 960px;
    z-index:100;
    background-color: #4A4A4A;
    overflow: hidden;
}
.mainNav .nav {
    float: left;
    display: inline;
}
.mainNav ul li {
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-right: 12px;
    margin-left: 4px;
}

.mainNav ul li a {
    text-decoration: none;
    color: white;
}

.mainNav ul li a:hover{
    background: none;
}

main {
    width: 960px;
    margin: 0 auto;
    height: 560px;
}
footer {
    width: 960px;
    margin: 0 auto;
    height: 50px;
    background-color: blanchedalmond;
}
footer #copy_statement {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    line-height: 50px;
}

#catalog {
    float: left;
    height: 560px;
    background-color: cadetblue;
    width: 180px;
}

#imageRoll {
    float: left;
    height: 320px;
    width: 530px;
    margin-left: 10px;
    background-color: brown;
    overflow: hidden;
    position: relative;
}

#detail {
    float: left;
    height: 320px;
    margin-left: 10px;
    width: 230px;
    background-color: orangered;
}

#brand {
    float: left;
    height: 230px;
    width: 770px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: darkviolet;
}

#catalog .catalogInfo {
    border: 1px solid #6e6e6e;
}
#catalog h2 {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    background-color: #6e6e6e;
    text-indent: 8px;
}

#catalog h3 {
    border-bottom: 1px solid #EEEEEE;
    height: 24px;
    line-height: 24px;
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
}


.catalogInfo li {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 2px;
    color: #AAAAAA;
    margin-right: 20px;
    text-indent: 8px;
    float: left;
}

#imageRoll img {
    position: absolute;
    left: 0;
    top:0;
}

#imageRoll div {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    display: block;
    float: left;
}

#imageRoll div a {
    background-color: #444444;
    color: #FFF;
    display: inline-block;
    float: left;
    height: 32px;
    margin-right: 1px;
    padding: 5px 15px;
    text-align: center;
    width: 101px;
    opacity: 0.7;
}

#imageRoll div a:hover {
    text-decoration: none;
}


#detail_info {
    border: 1px solid #6e6e6e;

}

#detail_info li {
    font-size: 12px;
    color: #6e6e6e;
    text-indent: 5px;
    text-decoration: none;
}

#detail_info a:hover {
    text-decoration: none;
}

#detail_info h3 {
    border-bottom: 1px solid #6e6e6e;
    font-size: 12px;
    font-weight: 900;
    text-indent: 7px;
}

#brand_tab {
    border-bottom: 1px solid black;
    height: 30px;
    display: block;
}

#brand_tab h2 {
    float: left;
    font-weight: bold;
    font-size: 12px;
    text-indent: 5px;
    margin: 4px 3px;
}

#brand_tab ul {
    float: right;
    margin-top: 4px;
}

#brand_tab li {
    float: left;
}

#brand_tab .brand_tab_li {
    background-color: #AAAAAA;
    margin-right: 5px;
    padding: 2px 5px;
}

#brand_list {
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 4px;
}

#brand_list li {
    float: left;
    margin-right: 5px; ;
}

#brand_list li span {
    display: block;
    background-color: #AAAAAA;
    text-align: center;
    font-size: 16px;
}